# Back-End Variables
DATABASE_URL=postgres://angeles:1234@localhost:5432/puppy_tail
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/
BACKEND_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
CLIENT_ID=""
APP_SECRET=""