/* En actionButtons.css */
.btn-action {
    background-color: #FF5733; /* Color de fondo */
    color: #FFFFFF; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px; /* Relleno alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    margin: 5px; /* Margen entre los botones */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .btn-action:hover {
    background-color: #FF8C66; /* Color de fondo al pasar el ratón */
  }
  