.paypal-buttons {
    min-width: 300px;
}

@media (max-width: 768px) { 
    .paypal-buttons {
        width: 100%; 
        min-width: auto;
    }
}

.wrap-checkout{
    background-color: #f7e1d2;
    height:100%;
}

.checkout-img{
    border-radius:50%;
}

.bg-checkout{
    border-radius:4.2rem;
    background-color:snow;
}

.checkout-icon{
    line-height:30px;
    margin-right:3px;
    padding: 10px;
    color:#0C3A23;
}

.modal-checkout{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:snow;
    padding:80px;
}

.exit-checkout{
    height:30px;
    width:30px;
    background-color:green;
    border-radius:50%;
    color:white;
    text-align: center;
    line-height: 30px; 
}