.bg-signup-page {
 background-color:#F7E1D2;
}
.display {
  font-family: 'Young Serif', serif;
  color: #2B2C30;
  font-size: 3.5vw;
  font-weight: 900;
}
  @media screen and (max-width: 1024px) {
    .display {
      font-size: 1.5rem; 
    }
  }
  
  .lead{
    color: #2B2C30;
    font-size: 2vw;
    font-weight: 800;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 1024px){
    .lead{
      font-size: 1rem;
      font-weight: 600;
      margin-top: 16px;
    }
  }

  .img-header{
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:700px;
  }
  .custom-img{
    background-color:transparent;
    border-radius:2.5rem;
  }