body, html {
    font-family: 'Roboto';
}

.landing-title {
  font-family: 'Poppins';
  color:black;
  font-size: 3.5vw; 
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .landing-title {
    font-size: 1.5rem; 
  }
}

.landing-p {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
}

@media screen and (max-width: 1024px){
  .landing-p {
    font-size: 1rem;
    margin-top: 16px;
  }
}

.landing-img {
  margin: 50px;
  border-radius: 35px;
  max-width: 100%;
  height: auto; 
}

@media screen and (min-width: 1024px) {
  .landing-img {
    width: 45vw; 
    max-width: none; 
  }
}
.main-card, .box-card{
  border: none;
  background-color: #ECF9FF;
}


.btn-header-landing {
    background-color: #3DD1E7;
    margin: 50px auto;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 70%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn-header-landing:focus {
    outline: 0;
  }
  
  .btn-header-landing:after {
    content: '';
    position: absolute;
    border: 3px solid #b82121;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .btn-header-landing:hover:after {
    bottom: 2px;
    left: 2px;
  }

  .btn-header-landing:hover {
    color:white;
  }
