body, html {
   font-family: 'Young Serif', serif;
}
.card-header {
  background-color:#f7e1d2;
}
.img-header-landing{
  border-radius:25px;
}
.landing-title {
 font-family: 'Young Serif', serif;
  color:#2b2c30;
  font-size: 3.5vw; 
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .landing-title {
    font-size: 1.5rem; 
  }
}
.text-landind {
  color: #2b2c30;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
}

@media screen and (max-width: 1024px){
  .text-landind {
    font-size: 1rem;
    margin-top: 16px;
  }
}

.btn-header-landing {
  margin-top:25px;
  font-size:1.5rem;
  padding:20px 60px;
  background-color:#ee4b4a;
  color:white;
  border-radius:4.2rem;
}

.btn-header-landing:hover {
  color:white;
  background-color: #cc3736; 
}