.bg-signup-page {
 background-color:#F7E1D2;
}
.display {
  font-family: 'Poppins';
  color: rgb(225, 253, 218);
  font-size: 3.5vw;
  font-weight: 900;
}
  @media screen and (max-width: 1024px) {
    .display {
      font-size: 1.5rem; 
    }
  }
  
  .lead{
    color: rgb(225, 253, 218);
    font-size: 2vw;
    font-weight: 800;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 1024px){
    .lead{
      font-size: 1rem;
      font-weight: 600;
      margin-top: 16px;
    }
  }