#landing {
  font-family: serif;
  color: white;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}
