
/* .landing{
  background: rgb(33,119,3);
  background: linear-gradient(29deg, rgba(33,119,3,1) 6%, rgba(65,161,58,1) 24%, rgba(73,185,188,1) 69%, rgba(74,189,212,1) 100%);
} */

.landing {
  background: rgb(73,185,188);
background: linear-gradient(29deg, rgba(73,185,188,1) 15%, rgba(103,208,95,1) 37%, rgba(119,221,167,1) 87%, rgba(136,234,242,1) 100%);
}