.background {
  font-family: 'Roboto', sans-serif;
  color: #285430;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image:url("https://images.unsplash.com/photo-1546984575-757f4f7c13cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"); */
  /* background-image:url("https://images.unsplash.com/photo-1538437616090-64c780652422?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1523257459668-56bc6b368630?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80");
}

.home {
  background-image:url("https://images.unsplash.com/photo-1538438253612-287c9fc9217e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  font-family: 'Roboto', sans-serif;
  border-radius: 15px; 
  max-width: 1280px; 
  height: auto;
  width: 90%; 
  margin: 0 auto; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 30px 70px;
}

.arc {
  font-size: 4em; 
  text-transform: uppercase; 
  position: relative;
  font-weight: bold; 
  color: transparent; 
}

.arc::before {
  content: 'Bienvenidos'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  white-space: nowrap;
  animation: rainbow 10s linear infinite; 
}

@keyframes rainbow {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: red; }
}
@media (max-width: 1280px) {
  .arc {
    font-size: 2em; 
  }
}
