.wrap-login {
  border-radius: 15px;
  width: 40%;
  backdrop-filter: grayscale(0.8) blur(2px);
  box-shadow: 0 0 15px rgb(255, 255, 255);
  margin: 250px 50px;
}

#inputEmail,
#inputPassword {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(63, 211, 43, 0.3);
  color: white;
  transition: none;
}

#cat-suit-login {
  font-size: 5rem;
  color: rgb(233, 223, 223);
}
