.wrap-login {
  font-family: 'ROBOTO';
  border-radius: 15px;
  height: 45vh;
  width: 90%; 
}

#inputEmail,
#inputPasswordLogin {
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 12px;
  color:white;
  margin: 10px;
  box-shadow: 0 0 5px rgba(63, 211, 43, 0.3);
  transition: none;
}

#btn-login {
  font-size: clamp(1rem, 0.375rem + 2vw, 1.2rem);
  font-weight: 400;
  color:black;
  margin: 30px 0 0 10px;
  background-color: #6cb81b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
}

@media (max-width: 768px) {
  .text-sm {
    font-size: 14px; /* Cambia el tamaño de fuente en pantallas pequeñas */
    margin: 5px 0; /* Ajusta los márgenes en pantallas pequeñas */
  }
}
 @media (max-width :768px) {
  .title-login {
    font-size: 24px;
  }
 }