.logo {
    font-style: italic;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 900;
    color: green;
    transition: transform 0.3s, color 0.3s;
  }
  .logo:hover {
    transform: scale(0.9); 
    color:#3DD1E7; 
  }  
 

.text-navbar{ 
    font-family: 'Roboto';
    font-size:1.2rem;
    font-weight:500;
    color:white;
}