.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ocupa al menos toda la altura de la pantalla */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente para aclarar la imagen */
  padding: 20px; /* Espacio alrededor del contenido */
}

.image-container {
  width: 100%;
  text-align: center;
}

.error-image {
  max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
  height: auto; /* Mantén la relación de aspecto de la imagen */
}

.error-flag {
  background-color: #00FF00; /* Color de fondo verde más claro para la bandera de error */
  color: white; /* Color de texto blanco para la bandera de error */
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  text-align: center;
  color: black; /* Color de texto negro para el contenido */
}

button {
  background-color: white; /* Color de fondo blanco para el botón */
  color: #4CAF50; /* Color de texto verde para el botón */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #4CAF50; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
  color: white; /* Cambia el color de texto del botón al pasar el cursor sobre él */
}

/* Media Query para dispositivos móviles (ancho máximo de 600px) */
@media screen and (max-width: 600px) {
  .not-found {
    padding: 10px; /* Reduzca el espacio alrededor del contenido en dispositivos móviles */
  }
}