.services-uno {
    background-color:#E8FFCE;
}
.services-dos {
    background-color:#ECF9FF;
}

.services-tres{
    background-color: #E8FFCE;
}

.services-cuatro {
    background-color:#ECF9FF;
    
}

.img-services-land {
    padding: 25px;
    width: 150px;
    height: 150px;
}