html, body {
    font-family: 'Young Serif', serif;
}
.textLeft{
    text-align: left !important;
}
.wrap-profile{
    margin-top: 110px;
}
.bg-custom{
    background-color: #f7e1d2;
}
.btn-green{
    background-color: #0C3A23;
    color: white;
}
.btn-green:hover{
    background-color: #15683e;
}
.btn-orange{
    background-color: #EE4B4A;
    color: white;
}
.btn-orange:hover{
    background-color: #ff6f6f;
}
input{
    border: none;
}
.form-control{
    border: none;
}

