

.col-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-title {
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.icons-reasons{
    margin:5px;
    font-size: 30px;
    color:#f15454;
}
.reasons{
    width:85%;
    font-family: 'Young Serif', serif;
    color: black;
    background-color: #bfc1b9;
    backdrop-filter: blur(10px); 
    background-image: url(https://assets.website-files.com/64149f79022d0c5fc8ce46e8/64149f79022d0c4fb4ce47c4_Sribbles%2004.svg),url(https://assets.website-files.com/64149f79022d0c5fc8ce46e8/64149f79022d0c2b23ce47c5_Sribbles%2003.svg);
    background-position: 100% 100%,0 0;
    background-repeat: no-repeat,no-repeat;
    background-size: auto,auto;
    border-radius: 20px;
    padding: 6.5rem 1.5rem;
    position: relative;
}

