body, html {
    font-family: 'Young Serif', serif;
}
.container-steps{
    padding:25px;
    border-radius:2.5rem;
    background-color: snow;
    backdrop-filter: blur(10px); 
  background-image: url(https://assets.website-files.com/64149f79022d0c5fc8ce46e8/64149f79022d0c2b23ce47c5_Sribbles%2003.svg); 
  background-position: 100% 100%,0 0;
  background-repeat: no-repeat,no-repeat;
  background-size: auto,auto;
  border-radius: 20px;
  position: relative;
}

.card-container {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.card-number {
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #BFC1B9;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.main-title-steps {
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.card-steps-title {
    font-weight: 800;
    color: inherit;
    color: black;
}

.card-steps-content h4{
    font-weight:bolder;
    font-size:1rem;
}

